{
  "env": {
    "node": true
  },
  "extends": "airbnb-base",
  "rules": {
    "max-len": [
      "error",
      {
        "code": 140
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-underscore-dangle": "error"
  }
}
